main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.menu-container {
    padding: 10px;
    font-family: 'script', cursive;
}

.photo {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #756439;
}

.btn-container {
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
}

.filter-btn {
    background-color: #A2000F;
    border: 2px solid white;
    font-size: 20px;
    width: 120px;
    font-family: 'script', cursive;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 8px;
    color: white;
    /* cursor: url('https://cur.cursors-4u.net/toons/too-12/too1106.cur'), auto !important; */
    cursor: pointer;
}

.filter-btn:hover {
    background: white;
    color: #A2000F;
    border: 2px solid #A2000F;
}

.section-center {
    width: 75%;
    margin: 0px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #E8D69E;
    padding: 20px;
    border: 5px solid #756439;
    border-radius: 10px;
}
.menu-item {
    /* display: grid; */
    width: 310px;
    margin: auto;
    height: 525px;
    letter-spacing: 1px;
    /* grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem; */
}

.galley-grub {
    color: #6D241D;
}

.item-title {
    font-size: 22px;
}

.item-text {
    font-size: 18px;
}