@font-face {
    src:url('./font/script.ttf');
    font-family: script;
}

@font-face {
    src:url('./font/PhoTai.ttf');
    font-family: font2;
}


body {
    background-color: #bcdb90;
    margin: 0;
}

.header {
    background-color: #a9ce7f;
    height: 100px;
    width: 100%;
}

.name {
    color: 	#654418;
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    font-family: 'script', cursive;
}

.jumbotron {
    text-align: center;
    position: relative;
}

.head-img {
    height: 400px;
    width: 600px;
    margin: 30px auto 30px auto;
}

.img-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.buttons-container {
    margin: auto;
    text-align: center;
    height: 100px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#menu-btn, #order-btn {
    background-color: #654418;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-family: 'font2', cursive;
    border: none;
    border-radius: 10px;
}

/* BEGINNING OF MENU */

